*.pyc
Client/*

credentials
credentials.*
db.sqlite3
/.django-secret-key
staticfiles/

Scripts/Engines/*
Scripts/Networks/*

Media/*

!Client/*.py
!Client/cutechess-ob
!Client/cutechess-ob.exe

Media/PGNs/*
Media/Networks/*
Media/Events/*

*.lock
!requirements-windows.lock
*.epd
.worktrees/
.venv/
